<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>删除的基站数据入库</title>
</head>
<body>
    <h1>删除的基站数据入库</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <style type="text/css">
             .info{
                 border-width: 4px;
                 font-size: 26px;
                 color: black);
             }
             .table{
                 font-size: 24px;
                 color: black;
             }
        </style>
        <table>
            <tr>
                <td class="table">{{ form.omc.label }}</td>
                <td>{{ form.omc}}</td>
            </tr>

        </table>
        <table>
            <tr>
                <td class="table">{{ form.type.label }}</td>
                <td>{{ form.type}}</td>
            </tr>

         </table>
        <p class="table">
            {{ form.btsid.label }}&emsp;
            {{ form.btsid}}
            {% if form.errors %}
                <span style="color:#ff1212;">{{ form.errors.btsid.0 }}</span>
            {% endif %}
        </p>
        <p class="table">
            {{ form.btsname.label }}&emsp;
            {{ form.btsname}}
            {% if form.errors %}
                <span style="color:#ff1212;">{{ form.errors.btsname.0 }}</span>
            {% endif %}
        </p>
        <p class="table">
            {{ form.reason.label }}&emsp;
            {{ form.reason}}
            {{ form.shuttime.label }}&emsp;
            {{ form.shuttime}}&emsp;&emsp;
        </p>
        <table>
            <tr>
                <td class="table">{{ form.bbustate.label }}</td>
                <td>{{ form.bbustate}}</td>
                <td>&emsp;&emsp;&emsp;&emsp;</td>
                <td class="table">{{ form.rrustate.label }}</td>
                <td>{{ form.rrustate}}</td>
                <td>&emsp;&emsp;&emsp;&emsp;</td>
                <td class="table">{{ form.antstate.label }}</td>
                <td>{{ form.antstate}}</td>
            </tr>
         </table>
        <p class="table">
            {{ form.submit()}}
        </p>
    </form>
</body>
</html>