    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>更新工作进度</title>
    </head>
    <body>
        <style type="text/css">
         .table{
             font-size: 16px;
             color: black;
         }
        </style>

        <h2>更新 {{ staffname }} 工作进度</h2>
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <style type="text/css">
                 .info{
                     border-width: 4px;
                     font-size: 26px;
                     color: black);
                 }
                 .table{
                     font-size: 24px;
                     color: black;
                 }
            </style>
            <table class="table">
                <tr>
                    <td>{{ form.start_date.label }}</td>
                    <td>{{ form.start_date}}</td>
                </tr>
                <tr>
                    <td>{{ form.end_date.label }}&emsp;</td>
                    <td>{{ form.end_date}}</td>
                </tr>
                <tr>
                    <td>{{ form.work_type.label }}&emsp;</td>
                    <td>{{ form.work_type}}</td>
                </tr>
                <tr>
                    <td>{{ form.content.label }}&emsp;</td>
                    <td>{{ form.content}}</td>
                </tr>
                <tr>
                    <td>{{ form.state.label }}&emsp;</td>
                    <td>{{ form.state}}</td>
                </tr>
                <tr>
                    <td>{{ form.submit()}}</td>
                </tr>
             </table>
        </form>
    </body>
    </html>