    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>删除的基站数据入库</title>
    </head>
    <body>
        <h2>已入库的信息</h2>
        <style type="text/css">
         .table{
             font-size: 16px;
             color: black;
         }
        </style>

        <table class="table" , border="1">
            <tr>
                {% for title in table_titles %}
                <th>{{ title }}</th>
                {% endfor %}
            </tr>
            {% for omc,type,btsid,btsname,reason,shuttime,bbustate,rrustate,antstate in omc|zip(type,btsid,btsname,reason,shuttime,bbustate,rrustate,antstate) %}
            <tr>
                <td>{{ omc }}</td>
                <td>{{ type }}</td>
                <td>{{ btsid }}</td>
                <td>{{ btsname }}</td>
                <td>{{ reason }}</td>
                <td>{{ shuttime }}</td>
                <td>{{ bbustate }}</td>
                <td>{{ rrustate }}</td>
                <td>{{ antstate }}</td>
            </tr>
            {% endfor %}
         </table>
        <br />
        <br />
        <h2>新数据入库</h2>
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <style type="text/css">
                 .info{
                     border-width: 4px;
                     font-size: 22px;
                     color: black);
                 }
                 .table{
                     font-size: 16px;
                     color: black;
                 }
            </style>
            <table class="table">
                <tr>
                    <td>{{ form.omc.label }}</td>
                    <td>{{ form.omc}}</td>
                </tr>
                <tr>
                    <td class="table">{{ form.type.label }}</td>
                    <td>{{ form.type}}</td>
                </tr>
                <tr>
                    <td>{{ form.btsid.label }}&emsp;</td>
                    <td>{{ form.btsid}}</td>
                </tr>
                <tr>
                    <td>{{ form.btsname.label }}&emsp;</td>
                    <td>{{ form.btsname}}</td>
                </tr>
                <tr>
                    <td>{{ form.reason.label }}&emsp;</td>
                    <td>{{ form.reason}}</td>
                    <td>{{ form.shuttime.label }}&emsp;</td>
                    <td>{{ form.shuttime}}</td>
                </tr>
                <tr>
                    <td>{{ form.bbustate.label }}</td>
                    <td>{{ form.bbustate}}&nbsp;</td>
                    <td>{{ form.rrustate.label }}</td>
                    <td>{{ form.rrustate}}&nbsp;</td>
                    <td>{{ form.antstate.label }}</td>
                    <td>{{ form.antstate}}</td>
                </tr>
                <tr>
                    <td>{{ form.submit()}}</td>
                </tr>
             </table>
        </form>
    </body>
    </html>