    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>个人工作周报</title>
    </head>
    <body>
        <h2>{{staffname}} 本周工作</h2>
        <style type="text/css">
         .table{
             font-size: 16px;
             color: black;
         }
        </style>
        <table class="table" , border="1">
            <tr>
                {% for title in table_titles %}
                <th>{{ title }}</th>
                {% endfor %}
            </tr>
            {% for wk,rena,sd,ed,ty,co,st in weeks|zip(realnames,start_date,end_date,work_type,content,state) %}
            <tr>
                <td>{{ wk }}</td>
                <td>{{ rena }}</td>
                <td>{{ sd }}</td>
                <td>{{ ed }}</td>
                <td>{{ ty }}</td>
                <td>{{ co }}</td>
                <td>{{ st }}</td>
            </tr>
            {% endfor %}
         </table>
        <br />
        <br />
        <h2>新数据入库</h2>
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <style type="text/css">
                 .info{
                     border-width: 4px;
                     font-size: 26px;
                     color: black);
                 }
                 .table{
                     font-size: 24px;
                     color: black;
                 }
            </style>
            <table class="table">
                <tr>
                    <td>{{ form.week.label }}</td>
                    <td>{{ form.week}}</td>
                </tr>
                <tr>
                    <td>{{ form.name.label }}</td>
                    <td>{{ form.name}}</td>
                </tr>
                <tr>
                    <td>{{ form.start_date.label }}</td>
                    <td>{{ form.start_date}}</td>
                </tr>
                <tr>
                    <td>{{ form.end_date.label }}&emsp;</td>
                    <td>{{ form.end_date}}</td>
                </tr>
                <tr>
                    <td>{{ form.work_type.label }}&emsp;</td>
                    <td>{{ form.work_type}}</td>
                </tr>
                <tr>
                    <td>{{ form.content.label }}&emsp;</td>
                    <td>{{ form.content}}</td>
                </tr>
                <tr>
                    <td>{{ form.state.label }}&emsp;</td>
                    <td>{{ form.state}}</td>
                </tr>
                <tr>
                    <td>{{ form.submit()}}</td>
                </tr>
             </table>
        </form>
    </body>
    </html>