<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>投诉工单数据入库</title>
</head>
<body>
    <h1>投诉工单数据入库</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <style type="text/css">
             .info{
                 border-width: 4px;
                 font-size: 26px;
                 color: black);
             }
             .table{
                 font-size: 24px;
                 color: black;
             }
        </style>
        <p class="table">
            {{ form.serial_number.label }}&emsp;
            {{ form.serial_number}}
            {% if form.errors%}
            <span style="color:#ff1212;">{{ form.errors.serial_number.0 }}</span>
            {% endif %}
        </p>
        <p class="table">
            {{ form.content.label }}&emsp;
            {{ form.content}}
            {% if form.errors%}
            <span style="color:#ff1212;">{{ form.errors.content.0 }}</span>
            {% endif %}
        </p>
        <p class="table">
            {{ form.result.label }}&emsp;
            {{ form.result}}
            {% if form.errors%}
            <span style="color:#ff1212;">{{ form.errors.result.0 }}</span>
            {% endif %}
        </p>
         <p class="table">
            {{ form.country.label }}&emsp;
            {{ form.country}}&emsp;&emsp;
            {{ form.town.label }}&emsp;
            {{ form.town}}&emsp;&emsp;
            {{ form.village.label }}&emsp;
            {{ form.village}}
        </p>
        <p class="table">
            {{ form.lon.label }}&emsp;
            {{ form.lon}}&emsp;&emsp;
            {{ form.lat.label }}&emsp;
            {{ form.lat}}
        </p>
        <p class="table">
            {{ form.bts_id.label }}&emsp;
            {{ form.bts_id}}&emsp;&emsp;
            {{ form.bts_name.label }}&emsp;
            {{ form.bts_name}}
        </p>
        <p class="table">
            {{ form.submit() }}&emsp;
        </p>
    </form>
</body>
</html>